/****  Nav Bar *****/
.nav {
	background-color: #568ca3;
	color: white;
	margin: 0;
	padding: 40px;
	border: 2px solid black;
}

header h1{
	margin-left:20px;
	display: inline;
}

header ul {
	float: right;
	list-style: none;
	border: 2px solid black;
	padding: 0;
	margin: 0;
}
header ul li {
	/*display: inline-block;*/
	padding: 0 10px 5px;
}
header a {
	text-decoration: none;
	/*color: white;*/
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #5a5c66;
}
.new{
	font-size: 2em;
	font-weight: 900;
}

.creator a{	
	color: #69915a;
}

/***** Dashboard column display ******/
.all_things {
	/*border: solid 1px black;*/
	width: 95%;

}

.all_things div {
	width: 28%;
	height: 450px;
	border: solid 1px black;
	/*vertical-align:super;*/
	float: right;
	margin-left: 33px;
	padding: 10px;
	overflow:scroll;
	position: relative;
}

.all_things h2 {
  margin-top: 0;
}


.participating a{
	color: #bd3e5a;
}
/**** CHORE ****/
ul{
	list-style: none;
	padding: 0 10px 5px;
}

/*a{
	text-decoration: none;
	color: #5a5c66;
}*/
.new{
	font-size: 2em;
	font-weight: 900;
}

.creator a{	
	color: #69915a;
}

.participating a{
	color: #bd3e5a;
}

.plus {
    position: absolute;
    top: 0px;
    right: 10px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
